
h1{
    color: dodgerblue;
    background-color: black;

}
h6{
    color: dodgerblue;
}

#list{
    font-style: italic;
    background-color: lightgray;
}

.color{
    color: lightgray;
    background-color: gray;
    margin: 4px;
    padding: 4px;
}